.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.9);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#menu {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu > button {
  margin-bottom: 20px;
}
.buttonActiveClass {
  background-color: red;
  border-color: red;
}

.buttonNoGoClass {
  background-color: red;
  border-color: red;
}
.buttonGoClass {
  background-color: green;
  border-color: green;
}
#goNoGoButton {
  height: 100%;
}
#noGoButtons {
  height: 100%;
}
.height100 {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  /*height: 100vh;  Full height of the viewport */
  height: 90vh; /* Full height of the viewport */
}

.chat-container {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  overflow-y: auto; /* Enable scrolling */
}

.chat-button-container {
  display: flex;
}

.messages {
  flex: 1; /* Take remaining space in the chat container */
  overflow-y: auto; /* Enable scrolling */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center messages */
}

.chat-bubble {
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  line-height: 1.5;
}

.chat-bubble.bot {
  background-color: rgba(20, 23, 34, 255); /* Bot message color */
  color: white; /* Bot message text color */
  align-self: flex-start; /* Align bot messages to the left */
}

.chat-bubble.user {
  background-color: rgba(49, 196, 141, 1); /* User message color */
  color: white; /* User message text color */
  align-self: flex-end; /* Align user messages to the right */
  margin-left: auto; /* Push user messages to the right */
}

.translation-input {
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: #3a3a3c; */
  background-color: rgba(20, 23, 34, 0.5);

  border: 1px solid rgb(255 255 255 / 0.1);
}

.chat-textarea {
  flex: 1;
  border-radius: 12px;
  border: none;
  padding: 10px;
  margin-right: 10px;
  resize: none; /* Disable resizing */
  font-size: medium;

  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(10, 12, 20, 255);
  color: #e0e0e0;
  width: -webkit-fill-available;
  outline: 1px solid rgb(255 255 255 / 0.1);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.chat-button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  border-radius: 4px;
  background-color: rgba(49, 196, 141, 1); /* Button color */
  color: white; /* Button text color */
  cursor: pointer;
}

.chat-button:hover {
  background-color: rgba(49, 196, 141, 0.4); /* Darker button color on hover */
}

/* New styles for the language level selector */
.chat-select {
  padding: 10px;
  -webkit-appearance: none; /* Removes native appearance */
  border: none;
  border-radius: 20px;
  background-color: #5b3fd3; /* Same color as buttons */
  color: white; /* Text color */
  cursor: pointer;
  margin-left: 10px; /* Spacing from label */
  transition: background-color 0.3s; /* Smooth transition */
}

.chat-select:hover {
  background-color: #4a2cb1; /* Darker color on hover */
}

.toggle-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: white; /* Checkbox label color */
  margin-bottom: 10px;
}
@media (max-aspect-ratio: 10/10) and (max-width: 700px) {
  .translation-input {
    flex-direction: column;
  }
  .chat-textarea {
    margin-right: 0px;
    width: -webkit-fill-available;
    margin-bottom: 10px;
  }
}
