.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.9);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#menu {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu > button {
  margin-bottom: 20px;
}
.buttonActiveClass {
  background-color: red;
  border-color: red;
}

.buttonNoGoClass {
  background-color: red;
  border-color: red;
}
.buttonGoClass {
  background-color: green;
  border-color: green;
}
#goNoGoButton {
  height: 100%;
}
#noGoButtons {
  height: 100%;
}
.height100 {
  height: 100%;
}
