body {
  background-color: #282c34;
  text-align: center;
  margin: 0;
  padding: 0;
}

button:active {
  background-color: rgba(255, 226, 197, 0.5);
}
button:disabled {
  opacity: 0.3;
  &:hover {
    background-color: #333;
    cursor: not-allowed;
  }
}

.translation-area {
  display: flex;
  width: 50%;
  flex-direction: column;
  font-size: 1.4em;
  background-color: rgba(20, 23, 34, 255);
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}
@media (max-aspect-ratio: 10/10) and (max-width: 700px) {
  .translation-area {
    width: 90%;
    margin-left: 0px;
  }
}
.feedbackWrapper {
  width: -webkit-fill-available;
}
